<% if @families.present? %>
  <% @families.each do |f| %>
	<p>#<%= f.id  %>  "<%= f.name  %>" <span> + </span></p>  
  <% end %>
<% else %>
  <p>There are no names containing the term(s) .</p>
<% end %>