<h1>Личный кабинет</h1>
<p>Find me in app/views/persons/profile.html.erb</p>

<%= form_tag(remote: true) do %>
  <%= label_tag(:f, "Найти семью:") %>
  <%= text_field_tag :f, "", :placeholder => "Введите имя семьи.." %>
  <%= submit_tag "Search", id: "search" %>
<% end %>

<p >Результат поиска:</p>
<div id="search_rezult">
	
</div>